
			
			.card
			{
				background-color: white;
				padding: 20px;
				margin-top: 20px;
			}	
			@media screen and (max-width: 800px)
			{
				.leftcolumn, .rightcolumn 
				{   
					width: 100%;
					padding: 0;
				}
			}
			@media screen and (max-width: 400px)
			{
				.topnav a 
				{
					float: none;
					width: 100%;
				}
			}
			p
			{
				font-family:Verdana, Geneva, Tahoma, sans-serif;
			}
			button
			{
				width:80;
				height:40;
				background-color:#009900;
				color:white;
				border-radius: 8px;
			}
			button:hover
			{
				background-color:#003300;
					cursor: pointer;
			}
			.footer
			{
				padding: 20px;
				text-align: center;
				background: #003300;
				margin-top: 20px;
				color:white;
				height:100;
			}
			h5
			{
				font-size:18;
			}
